<div id="FeaturedProducts" class="FeaturedProducts d-flex flex-column justify-content-center bg-black">
    <div class="FeaturedProducts-title py-3">
        <h1 class="text-white display-4 font-weight-normal text-uppercase text-center">New Arrivals</h1>
    </div>
    <div class="FeaturedProducts-slider text-center">
        <div v-for="(product, index) in products" :key="index" class="FeaturedProducts-slider__slide d-flex justify-content-center mx-5">
            <div @click="goTo(product.url)" class="Product d-flex flex-column justify-content-center">
                <figure class="Product-image h-75">
                    <img class="h-100 w-100 shadow" :src="product.images[0]"/>
                </figure>
                <h2 v-html="product.title" class="text-white"></h2>
                <p v-html="product.minPrice" class="text-black h3 text-muted"></p>
            </div>
        </div>
    </div>
</div>

<script>
const { createApp, ref, computed, watch, onMounted} = Vue;

const FeaturedProducts = {
    setup(){
        let products = ref(
            [
                {% assign collection = section.settings.linked_collection %}
                {% for product in collection.products %}
                    {
                        title: '{{product.title}}',
                        id: {{product.id}}, 
                        images: [
                            {% for image in product.images %}
                            '{{ image.src | product_img_url: 'medium', scale: 2}}',
                            {% endfor %}
                        ],
                        minPrice: '{{product.price_min | money}}',
                        url: '{{product.url}}',
                    },
                {% endfor %}
            ]
        );

        return{
            products
        }
    },
    methods: {
        goTo(productUrl){
            window.location.href = productUrl;
        }
    }
}

Vue.createApp(FeaturedProducts).mount('#FeaturedProducts');
</script>
{% schema %}
    {
        "name": "Featured Products",
        "settings": [
            {
                "type": "collection",
                "id": "linked_collection",
                "label": "Linked collection"
            }   
        ], 
        "presets": [
            {
                "name": "Featured Products"
            }
        ]
    }
{% endschema %}